/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin clearfix {
	*zoom: 1;
	&:before {
		content:""; display:block; clear:both;
	}
}

$mainwidth: 960px;
$linkcolor: #3399ff;
$hoverlinkcolor: #66ccff;

html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #ddd;
	line-height: 1.5;
}

h1 {
	padding: 20px 0;
	font-size: 36px;
}
h2 {
	padding: 20px 0;
	font-size: 32px;
}
p {
	padding: 0 0 25px;
}
a {
	color: $linkcolor;
}

.container {
	position: relative;
	width: $mainwidth;
	height: 100%;
	margin: 0 auto;
}
.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .75);
	>* {
		width: $mainwidth;
		margin: 0 auto;
	}
}
.page {
	position: relative;
	height: 80%;
	padding: 10% 0;
	.inner {
		width: 90%;
		height: 100%;
		padding: 0 5%;
		background-color: #f1f1f1;
	}
	h1, h2 {
		padding: 100px 0 20px;
	}
}

.nav {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	.controll {
		text-align: center;
		a {
			@include inline-block;
			@include border-radius(5px);
			margin: 0 5px;
			padding: 0 10px;
			background-color: $linkcolor;
			color: #fff;
			text-decoration: none;
			&:hover, &:focus, &:active {
				background-color: $hoverlinkcolor;
			}
		}
	}
}




